body{
    background-image: url(https://wallpaperaccess.com/full/187161.jpg);
   
    overflow: scroll;
}
.project{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: lightseagreen;
    font-family: 'Concert One', cursive;
    margin-left: 10%;
    text-decoration: underline;
}
a{
    display: inline-block;
	background: transparent;
	border: 2px solid rgb(6, 247, 38);
	padding: 9px 28px;
	border-radius: 30px;
	line-height: 0.5;
	color: rgb(0, 0, 0);
    font-weight: 500;
    position: relative;
    padding: 9px 28px;
    font-family: 'Concert One', cursive;
    text-decoration: none;
}
.link a:hover{
    transition: .4s;
    background-color: cornflowerblue;
}
.content h4{
    margin-left: 10%;
    font-family: 'Old Standard TT', serif;;
    color: white;
   
}
.all img{
    margin-left: 40%;
    border-radius: 50px;
    width: 20%;
}
.content2 h4{
    margin-left: 10%;
    font-family: 'Old Standard TT', serif;
    color: white;
   
}
.link2 a:hover{
    transition: .4s;
    background-color: cornflowerblue;
    
}
.home a:hover{
    transition: .4s;
    background-color: cornflowerblue;
}